<% if page.current? %>
  <li class="page-item">
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'page-link list-group-item list-group-item-danger' %>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link text-danger' %>
  </li>
<% end %>
